<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">png
            <img src="../../assets/images/oyonavbarbrand.png" style="height:50px;width:100px;" alt="brand_image">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Features</a></li>
            <li><a href="#">Anas Hotel Brand</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Partner Speak</a></li>
            <li><a class="waves-effect waves-light btn-small">Button</a></li>
        </ul>

    </div>
</nav>


<section id="jumbo">
    <div class="row">
        <div class="grid-example col s12 m8">
            <div class="container">
                <div class="jumbo-title-1">
                    Super Charge your business by
                </div>
                <div class="jumbo-title-2">
                    making Sid your growth partner!
                </div>
                <div class="jumbo-sub-title">
                    Trusted by over 45,000 travel agents worldwide
                </div>
                <div class="row">
                    <div class="sub-container">
                        <div class="col s4">
                            <div class="row">
                                <div class="col s3">
                                    <img src="https://travelagent.oyorooms.com/superAgent/assets/images/group-19.svg">
                                </div>
                                <div class="col s8">
                                    <span class="sub-container-bold">35,000+</span>
                                    <p class="sub-container-pad">Hotels</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <div class="col s3">
                                    <img src="https://travelagent.oyorooms.com/superAgent/assets/images/group-9.svg">
                                </div>
                                <div class="col s8">
                                    <span class="sub-container-bold">800+</span>
                                    <p class="sub-container-pad">Cities</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <div class="col s3">
                                    <img src="https://travelagent.oyorooms.com/superAgent/assets/images/globe.svg">
                                </div>
                                <div class="col s8">
                                    <span class="sub-container-bold">28+</span>
                                    <p class="sub-container-pad">Countries</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel teal">
                <div class="form-box-title">
                    <p>Get Started</p>
                </div>
                <div class="row main-form">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="text" type="text" class="validate">
                                <label for="text">Full Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="text" type="text" class="validate">
                                <label for="text">Company</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>


                            <div class="input-field col s12 m9">
                                <input id="icon_telephone" value="+91" type="tel" class="validate">
                                <label for="icon_telephone">Phone</label>
                            </div>
                            <div class="input-field col s12">
                                <a class="waves-effect waves-light btn">Request Call Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="boxes">
    <div class="center-align">
        <div class="row">
            <div class="col m12 s12">
                <h4 class="boxes-title">
                    The features your business need
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col m3 s12">
                <!-- Promo Content 1 goes here -->
                <img src="../../assets/images/super-commission-features.svg" style="height:70px;width:70px;"
                    alt="commission_image">
                <h5>Super Commissions </h5>
                <p>
                    Earn upto 10% base commission & 100% upsell commission with Free room nights! Over Rs. 25 crore in
                    commissions earned by Travel Agents in 2018.
                </p>
            </div>
            <div class="col m3 s12">
                <!-- Promo Content 2 goes here -->
                <img src="../../assets/images/wallet-copy-features.svg" style="height:70px;width:70px;"
                    alt="wallet_image">
                <h5>Recharge Cashbacks</h5>
                <p>
                    Super Charge your wallet and get upto 6% of free cashback on bulk recharges.
                </p>
            </div>
            <div class="col m3 s12">
                <!-- Promo Content 3 goes here -->
                <img src="../../assets/images/stopwatch-copy-features.svg" style="height:70px;width:70px;"
                    alt="stopwatch_image">
                <h5>Quick automated payouts</h5>
                <p>
                    Automated Commission payouts post check-out within 24 hours
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col m3 s12">
                <!-- Promo Content 1 goes here -->
                <img src="../../assets/images/cancellation-copy-features.svg" style="height:70px;width:70px;"
                    alt="cancellation_image">
                <h5>Free Cancellations </h5>
                <p>
                    Free cancellations for Non-bulk and Non-peak bookings
                </p>
            </div>
            <div class="col m3 s12">
                <!-- Promo Content 2 goes here -->
                <img src="../../assets/images/markup-copy-features.svg" style="height:70px;width:70px;"
                    alt="markup-copy_image">
                <h5>Custom Markup Prices </h5>
                <p>
                    Sell Sid inventory with custom markup settings
                </p>
            </div>
            <div class="col m3 s12">
                <!-- Promo Content 3 goes here -->
                <img src="../../assets/images/pie-chart-copy-features.svg" style="height:70px;width:70px;"
                    alt="pie-chart_image">
                <h5> Know your Business </h5>
                <p>
                    Sales, Savings and Commission reporting and analytics
                </p>
            </div>
        </div>
    </div>
</section>

<section id="images_oyo">
    <div class="center-align">
        <div class="row">
            <div class="col m12 s12">
                <h4 class="images_title">
                    Find an Sid for everyone
                </h4>
                <p class="images_subtitle">
                    From business travel to vacation, find a perfect space in every place
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col m3 s12">
                <img src="../../assets/images/oyo-home-findanOYOforeveryone.jpg" style="height:200px;width:300px;"
                    alt="home_image">
                <h5>Sid Home </h5>
                <p>
                    Apartments and villas with extra space and privacy. 
                </p>
            </div>
            <div class="col m3 s12">
                <img src="../../assets/images/pallate-findanOYOforeveryone.jpg" style="height:200px;width:300px;"
                    alt="platte_image">
                <h5> Palette </h5>
                <p>
                    Premium resorts across urban and holiday destinations. 
                </p>
            </div>
            <div class="col m3 s12">
                <img src="../../assets/images/rooms-findanOYOforeveryone.jpg" style="height:200px;width:300px;"
                    alt="platte_image">
                <h5>Sid Rooms </h5>
                <p>
                    Super affordable stays with essential amenities 
                </p>
            </div>
        </div>
    </div>
</section>


<section id="how-it-works">
    <div class="center-align">
        <div class="row">
            <div class="col m12 s12">
                <h4 class="boxes-title">How it works</h4>
            </div>
        </div>
        <div class="row">

            <div class="col m3 s12">
                <img src="../../assets/images/onboarding-copy-howitworks.svg" style="height:70px;width:70px;"
                    alt="onboarding_image">
                <h5>Quick onboarding </h5>
                <p>Submit your details & documents to get exclusive Super Agent Access </p>
            </div>
            <div class="col m3 s12">
                <img src="../../assets/images/booking-copy-howitworks.svg" style="height:70px;width:70px;"
                    alt="booking_image">
                <h5>Make booking</h5>
                <p>Find & Book the property your customers want at the lowest price. Pay using Company Wallet,
                    Free Credit Balance, Credit Card, Debit Card, PAYTM, Net Banking and More!. </p>
            </div>
            <div class="col m3 s12">
                <img src="../../assets/images/earn-copy-howitworks.svg" style="height:70px;width:70px;"
                    alt="earn_image">
                <h5>Earn money </h5>
                <p>Get Base and Upsell commissions on checkout and Free Room Credit at month end! </p>
            </div>

        </div>
    </div>
</section>


<section id="partner-speaks">
    <div class="center-align">
        <div class="row">
            <div class="col s12 m3">
                <div class="first-col">
                    <div class="big-heading">
                        <p>45000+ </p>
                        <span>Happy Customer</span>
                    </div>
                    <p>Our Partners Love us & </p>
                    <p>our service</p>
                </div>

            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-content">
                        <p>Sid’s 10 day package to Rajasthan which they curated specially for our guests is a huge hit
                            in
                            our area. Our guests did not face any issue during the whole journey and the account manager
                            supported us throughout.</p>
                    </div>
                    <div class="card-content">
                        <p class="card-content-bold">Sanjeev Bhatnagar</p>
                        <p>The Royal Escape, Jaipur</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-second">
                    <div class="card-content">
                        <p>Sid’s dedicated account manager is what businesses like mine needs. With such attractive
                            incentives, who would say no to a partnership with Sid. </p>
                    </div>
                    <div class="card-content">
                        <p class="card-content-bold">Sanjeev Bhatnagar</p>
                        <p>The Royal Escape, Jaipur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="started">
    <div class="center-align">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <h5 class="bolder-started">It’s easy to get started</h5>
                </div>
                <div class="col s12 m4">
                    <!-- <div class="input-field col s12"> -->
                    <a class="waves-effect waves-light btn">Request Call Back</a>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="center-align">
        <div class="container-footer">
            <div class="row">
                <div class="col m6 s12">
                    <div class="col  m4 s12">
                        <img src="../../assets/images/oyonavbarbrand.png" style="height:50px;width:100px;"
                            alt="brand_image">
                    </div>
                    <div class="col m4 s12">
                        <p>Sid Stays Pvt. Ltd.</p>
                        <p>©2019.All Rights Reserved</p>
                    </div>
                    <div class="col s4">
                        <!-- Promo Content 3 goes here -->
                    </div>
                </div>
                <div class="col m6 s12">
                    <div class="col m4 s12">
                        <p class="footer-privacy-policy">Privacy Policy</p>
                    </div>
                    <div class="col m4 s12">
                        <p> Terms & Conditions </p>
                    </div>
                    <div class="col m4 s12">
                        <p>Guest Policies </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>