<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">png
            <img src="../../assets/images/oyonavbarbrand.png"
                style="height:50px;width:100px;" alt="brand_image">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Features</a></li>
            <li><a href="#">Anas Hotel Brand</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Partner Speak</a></li>
            <li><a class="waves-effect waves-light btn-small">Button</a></li>
        </ul>

    </div>
</nav>


<section id="jumbo">
    <div class="row">
        <div class="grid-example col s12 m8">
            <div class="container">
                <div class="jumbo-title-1">
                    Super Charge your business by
                </div>
                <div class="jumbo-title-2">
                    making OYO your growth partner!
                </div>
                <div class="jumbo-sub-title">
                    Trusted by over 45,000 travel agents worldwide
                </div>
                <div class="row">
                    <div class="sub-container">
                        <div class="col s4">
                            <div class="row">
                                <div class="col s3">
                                    <img src="https://travelagent.oyorooms.com/superAgent/assets/images/group-19.svg">
                                </div>
                                <div class="col s8">
                                    <span class="sub-container-bold">35,000+</span>
                                    <p class="sub-container-pad">Hotels</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <div class="col s3">
                                    <img src="https://travelagent.oyorooms.com/superAgent/assets/images/group-9.svg">
                                </div>
                                <div class="col s8">
                                    <span class="sub-container-bold">800+</span>
                                    <p class="sub-container-pad">Cities</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <div class="col s3">
                                    <img src="https://travelagent.oyorooms.com/superAgent/assets/images/globe.svg">
                                </div>
                                <div class="col s8">
                                    <span class="sub-container-bold">28+</span>
                                    <p class="sub-container-pad">Countries</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel teal">
                <div class="form-box-title">
                    <p>Get Started</p>
                </div>
                <div class="row main-form">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="text" type="text" class="validate">
                                <label for="text">Full Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="text" type="text" class="validate">
                                <label for="text">Company</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>


                            <div class="input-field col s12 m9">
                                <input id="icon_telephone" value="+91" type="tel" class="validate">
                                <label for="icon_telephone">Phone</label>
                            </div>
                            <div class="input-field col s12">
                                <a class="waves-effect waves-light btn">Request Call Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>










<!-- <section id="boxes">
    <div class="container">
        <h5 class="box-title">
            The features your business need
        </h5>
        <div class="row">
            <div class="col s12 m5 cardone">
                <div class="card-panel teal">
                    <h5>Super Commission</h5>
                    <span class="#">
                        Earn upto 10% base commission & 100% upsell commission with Free room nights! Over Rs. 25 crore
                        in commissions earned by Travel Agents in 2018.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section> -->